.navbar {
  background-color: #0c356a;
}

.navbar-toggler {
  background-color: white;
}

#navbarNav > ul > li .active {
  color: #d5ffd0;
  padding: 10px;
  border: solid 2px #d5ffd0;
}

#navbarNav > ul > li {
  margin-left: 5px;
  margin-right: 5px;
}

#app > nav > div > a {
  color: #d5ffd0;
}

#navbarNav > ul > li > a {
  color: #d5ffd0;
}

.meal-ingredients .badge {
  background-color: #0c356a;
  color: white;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}
